.form-style{
    background-color: #EFEFEF;
    margin: 3% 40%;
    border-radius: 10px;
    box-shadow: 5px 5px 5px slategrey;
}
.form-style form input{
    margin: 5px;
}
.btn-custom{
    background-color: coral !important;
    color: #fff !important;
}
.button-fix{
    margin: 10px;
}
.inner-button-fix{
    padding: 10px;
    border: 0;
    border-radius: 10px;
    box-shadow: 5px 5px 5px slategrey;
    width: 20%;
}
.error-handle{
    position: absolute;
    transform: translate(-50%, -77%);
    top: 77%;
    left: 50%;
}
@media (max-width: 991px){
    .form-style{
        margin: 3% 30%;
    }
    .inner-button-fix{
        width: 40%;
    }
  }
  @media (max-width: 991px){
    .form-style{
        margin: 3% 20%;
    }
    .inner-button-fix{
        width: 60%;
    }
  }